<!doctype html>
<html>
  <head>
    <title>Demo Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container mt-2 text-center">
      <h1>Hello, world!</h1>
      <img class="max-width-2" src="/files/img/webpack.png">
    </div>
  </body>
</html>
