<!doctype html>
<html>
<head>
  <title>Sample Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
  <body>
    <%- include modules/header.ejs %>
    <div class="container mt-3 text-center">
      <h1>Sample Page</h1>
      <img src="/files/img/webpack.png" alt="">
    </div>
  </body>
</html>
